* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Yantramanav", sans-serif;
  background: #1e1e1e;
}

.LoginMainContainer {
  position: absolute;
  background: transparent;
  width: 300px;
  height: 460px;
  left: 50%;
  top: 45%;
  transform: translate(-50%, -50%);
}

.LMCButtonsContainer {
  position: relative;
  width: 100%;
  height: 60px;
  background: transparent;
}

.LMCBCButton {
  position: relative;
  float: left;
  width: 50%;
  height: 100%;
  font-size: 25px;
}

.LMCBCButton > div {
  position: relative;
  display: block;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  background: transparent;
}

.LMCBCButtonL {
  border-radius: 15px 0px 0px 0px;
  background: #0a6a41;
}

.LMCBCButtonR {
  border-radius: 0px 15px 0px 0px;
  background: brown;
}

.LMCBCButton:hover {
  background: #0d8652;
}

.LoginRegisterContainer {
  position: relative;
  transform: translateY(-15px);
  z-index: -1;
  width: 100%;
  height: calc(100% - 60px);
  background: transparent;
}

.LoginRegisterPanel {
  position: absolute;
  height: 100%;
  width: 100%;
  background: #0a6a41;
  border-radius: 0px 0px 15px 15px;
}

.LoginPanel {
  visibility: visible;
}

.RegisterPanel {
  visibility: hidden;
}

.LoginPanelForm {
  position: relative;
  height: auto;
  width: 80%;
  margin: auto;
  top: 50%;
  transform: translateY(-50%);
  background: #0a6a41;
}

.LoginInput {
  display: block;
  position: relative;
  width: 100%;
  height: 35px;
  font-size: 20px;
  border: none;
  border-width: 0px;
  border-bottom: white solid 1px;
  color: white;
  background: #0a6a41;
  text-align: center;
  box-shadow: none;
}

.LoginInput:focus {
  outline: none;
  border-color: khaki;
}

.LoginInput:hover {
  border-color: khaki;
}

.FormInherit {
  background: inherit;
}

.LoginRegisterButton {
  border: none;
  margin-top: 30px;
  height: 30px;
  width: 100%;
  background: #0a6a41;
  display: block;
  font-size: 20px;
  color: white;
  outline: none;
  border-radius: 15px;
}

.LoginRegisterButton:hover {
  background: #0a7547;
}

.LoginRegisterButton:active {
  background: #0a7547;
}
