* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Yantramanav", sans-serif;
  background: #1e1e1e;
  overflow-x: hidden;
}

.Background {
  position: fixed;
  height: 100%;
  width: 150%;
  background: #272727;
  right: 0;
  transform-origin: top right;
  transform: rotate(-30deg);
}

#IconContainer {
  position: fixed;
  height: 170px;
  width: 170px;
  background: #065c03;
  border-radius: 100%;
  top: 0;
  left: 0;
  transform: translate(-40%, -40%);
  z-index: 10;
}

#NavigationBar {
  position: fixed;
  left: 0;
  top: -200px;
  height: auto;
  width: 70px;
  background: #087f04;
  padding-top: 20px;
  overflow: visible;
  z-index: 9;
  transition: top 1s;
}

.NBButton {
  position: relative;
  height: 70px;
  width: 70px;
  overflow: visible;
  z-index: 9;
  background: transparent;
  transition: background 0.5s;
}

.NBButton:hover .NBButtonClue {
  transform: translateX(70px);
}

.NBButton:hover > .NBBLink {
  background: #11770d;
}

.NBButtonClue {
  position: relative;
  background: #065c03;
  height: 70px;
  width: 230px;
  transform: translateX(-100%);
  transition: transform 0.5s;
  z-index: 8;
}

.NBBLink {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 10;
  background: #087f04;
}

.NBBLImage {
  height: 70px;
  background: transparent;
}

.NBButtonClue > p {
  position: relative;
  text-align: center;
  font-size: 27px;
  background: transparent;
  color: white;
  top: 50%;
  transform: translateY(-50%);
}

#Shader {
  position: absolute;
  height: 100%;
  width: 100%;
  background: #1e1e1ea4;
  z-index: 1000;
  visibility: hidden;
}

#MainFrame {
  position: absolute;
  background: transparent;
  height: auto;
  width: 100%;
  top: 0px;
  right: 0px;
  z-index: 4;
  overflow: visible;
}

@media only screen and (min-width: 500px) {
}

@media only screen and (max-width: 500px) {
  .Background {
    display: none;
  }

  #IconContainer {
    height: 130px;
    width: 130px;
  }

  #MainFrame {
    position: absolute;
    background: red;
    height: 100px;
    width: 100%;
    top: 0px;
    right: 0px;
    z-index: 1;
  }
}
