.FlashcardPractice {
  display: none;
  position: fixed;
  background: #a046a6;
  height: 360px;
  width: 500px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 30px 0px 30px 0px;
}

.FlashcardPractice > p {
  background: transparent;
  font-size: 30px;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  width: 80%;
}

.ButtonsPracticeStatusWrpaer {
  display: none;
  position: fixed;
  width: 500px;
  height: 70px;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  background: transparent;
}

.BPSButton {
  position: absolute;
  height: 100%;
  width: 25%;
  border-radius: 20px;
}

.BPSButton > p {
  position: relative;
  background: transparent;
  font-size: 20px;
  color: white;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
}

.BPSOk {
  background: green;
  left: 0px;
}

.BPSAlmostKnow {
  background: rgb(156, 156, 27);
  left: 50%;
  transform: translateX(-50%);
}

.BPSDontKnow {
  background: red;
  right: 0px;
}

.FinalPanel {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: auto;
  width: 500px;
  background: transparent;
}

.FinalPanel > p {
  position: relative;
  background: transparent;
  color: white;
  text-align: center;
  font-size: 45px;
}

.FPButton {
  position: relative;
  height: 60px;
  width: 100%;
  margin: auto;
  border-radius: 10px;
  color: white;
  font-size: 30px;
  text-align: center;
  outline: none;
  border: none;
}

.FPButtonGiveMore {
  background: rgb(96, 167, 25);
}

.FPButtonGiveMore:hover {
  background: rgb(112, 194, 29);
}

.FPButtonThatsEnough {
  background: #0d6fac;
}

.FPButtonThatsEnough:hover {
  background: #1189d4;
}

.FPButton > p {
  position: relative;
  background: transparent;
  color: white;
  font-size: 30px;
  text-align: center;
  top: 50%;
  transform: translateY(-50%);
}

@media only screen and (max-width: 500px) {
  .FlashcardPractice {
    width: 96%;
    font-size: 20px;
  }

  .ButtonsPracticeStatusWrpaer {
    width: 96%;
  }

  .FinalPanel {
    width: 96%;
  }
}
